@import url("https://fonts.googleapis.com/css?family=Pacifico|Europa");

.container-fluid {
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto; 
  border: 8px solid black;
}

nav {
  width: 80%;
  padding-top: 3em;
  padding-bottom: 3em;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logoContainer {
  position: relative;
  height: 50px; 
  width:50px;
}

#logo {
  /* font-size: 2vw; */
  color: black;
  text-decoration: none;
  border: 5px solid black;
  width: 50px;
  height: 50px; 
  position: absolute;
  transition: transform .4s ease-in-out;
  z-index: 1;
}

#logoText {
  font-weight: 700;
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  -webkit-transform: translate(-50%,-50%); 
  z-index: 0;
}

#logo:hover {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

nav .navItem {
  cursor: pointer;
  font-size: 18px;
  color: black;
  margin-left: 4vw
}

.header {
  margin-bottom: 80px;  
  background: url("/pictures/stroke.png");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  display: inline-block;
}

#about {
  margin: 0 auto;
  width: 80%;
  padding-top: 60px;
  padding-bottom: 60px;
}

#headshot {
  width: 40%;
  border-radius: 8px;
}
  
#summary {
  width: 50%;
  font-size: 18px;
  float: right;
}

#resume {
  color: black;
  border: 2px solid black;
  padding: 1em 2em;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
}

#resume:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
  transition: all .25s ease;
}

#projects {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 80%;
  margin: 0 auto;
}

.row {
  padding-bottom: 60px;
  justify-content: space-between;
  margin: 0 auto;
}

.project {
  border-radius: 8px;
  height: 350px;
  width: 450px;
  position: relative;
  overflow: hidden;
}

.project:hover .content-overlay {
  opacity: 1;
}

.project:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.project a {
  text-decoration: none;
}

.bar {
  background-color: #ddd;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}

.red {
  background-color: #ff5f57;
}

.yellow {
  background-color: #ffbd2e;
}

.green {
  background-color: #28ca41;
}

.red, .yellow, .green {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.bar p {
  display: inline-block;
  position: absolute;
  color: #8a8a8a;
  font-size: 12px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

img {
  width: 100%;
  height: 100%;
}

.content-overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.content-details p {
  color: black;
  background: #999;
  border-radius: 4px;
  display: inline-block;
  padding: 8px 8px;
  box-shadow: 1px 1px 0 rgba(0,0,0,.25);
  margin-right: 12px;
}

.content-details h3 {
  color: white;
}

.fadeIn-top{
  top: 20%;
}

#contact {
  text-align: center;
  padding: 30px;
}

#contactMessage {
  text-align: center;
  margin-bottom: 30px;
}

#emailButton {
  color: black;
  border: 2px solid black;
  padding: 1em 3em;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
}

#emailButton:hover {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
  transition: all .25s ease;
}

footer {
  text-align: center;
  padding: 10px; 
}

#icons {
  margin-bottom: 20px;
}

.social, .social:hover, .social:active, .social:visited {
  color: black;
  margin: 10px; 
}

@media screen and (max-width: 500px) {
  #about {
    text-align: center; 
  }
  #headshot {
    width: 100%; 
    margin-bottom: 40px;
  }
  #summary {
    width: 100%;
    margin: 0 auto;
    text-align: left; 
  } 

  #projects {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 0px;
  }

  #projects .header {
    margin-top: 130px;
  }

  .red, .yellow, .green {
    background-color: #ddd;
  }

  .project {
    margin-bottom: 60px;
  }

  .row {
    padding-bottom: 0;
  }
}