@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

.container-fluid {
  padding: 0;
}

.link {
  color: pink;
  transition: color 0.3s ease;
}

.link:hover {
  color: white;
  text-decoration: none;
}

.about {
  height: 100vh;
  padding-top: 30vh;
  text-align: center;
  background-image: url(../pictures/background.jpg);
  background-position: center center;
}

.projects {
  background-color: lightgrey;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  position: relative;
  width: 70%;
}

.mySlides {
  display: none;
}

.mainImg {
  min-height: 400px;
  max-height: 400px;
}

.cursor {
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  background-color: #222;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0 3px 3px 0;
  color: white !important;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  color: white !important;

}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  width: 70%;
  margin: auto; /* centers container */
}

.row {
  width: 70%;
  margin: auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.active, .demo:hover {
  opacity: 1;
  transition: 0.8s;
}

hr {
  height: 2px;
  background-color: black
}