@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);

.container-fluid {
  padding: 0;
}

#navigation {
  align: right;
}

.nav {
  margin-right: 25px;
  margin-top: 25px;
  color: lightgrey;
  cursor: pointer;
  display: inline;
}

.nav:hover {
  color:black;
  transition: 0.8s;
}

.about {
  background-color: rgb(61, 92, 150);
  padding: 200px;
  text-align: center;
}

.portfolio {
  background-color: lightgrey;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

img {
  cursor: pointer;
}

.img-fluid {
  width: 350px;
  height: 350px;
}
    
.contact {
  background-color: rgb(247, 247, 247);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

hr {
  height: 2px;
  background-color: black
}