%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%bg-rules {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

%container {
  margin: 0 auto;
  width: $section-width;
  max-width: $max-section-width;
}

%section-padding {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

%transition {
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}
